<!DOCTYPE html>
<html>

<head>
    <style>
        table {
            border-collapse: collapse;
        }

        h1,
        h2,
        h3,
        h4,
        h5 {
            page-break-after: avoid;
        }


      
        td {
            padding-left: 10px;
            padding-top: 2px;
            padding-top: 2px;
            font-size: 10px;
            border-bottom: 1px solid black;
        }


        table.header tr td {
            padding-left: 10px;
            padding-top: 2px;
            padding-top: 2px;
            font-size: 10px;
            border-bottom: 1px solid black;
        }

        p,
        div {
            font-size: small;
        }
        .subtitle {
            font-size: 12;
            font-weight: bold;
        }
       
    </style>
</head>

<body>
    <table class="header" style="width: 100%;">
        <tr>
            <td>
                <img src="<%= host %><%= logo %>" width="50" height="50"/><h3>Sikomat App  Report Pasien</h5>
            </td>
            <td style="text-align: right;">
                <img src="<%=host %><%= url_document %>" width="60px" height="60px" />
                <div>REC ID:<%=data.riwayat_reg %></div>
            </td>
            </tr>
        </tr>
    </table>

    <div style="margin: 1%;">
        <div class="subtitle">Reporter</div>
        <table style="width: 100%;">
            <tr class="bottom_border">
                <td style="width: 20%;">
                    Bidan
                </td>
                <td style="width: 1%;">
                    :
                </td>
                <td>
                    <%=bidan.nama %>
                </td>
            </tr>
            <tr>
                <td>
                    Alamat
                </td>
                <td>
                    :
                </td>
                <td>
                    <%=bidan.alamat_detail %>
                </td>
            </tr>
            <tr>
                <td>
                    Alamat Praktek
                </td>
                <td>
                    :
                </td>
                <td>
                    <%=bidan.alamat_peta %>
                </td>
            </tr>
            <tr>
                <td>
                    Tanggal Periksa
                </td>
                <td>
                    :
                </td>
                <td>
                    <%= moment(new Date(data.tanggal_periksa)).format( "DD MMMM YYYY" ) %>
                </td>
            </tr>
        </table>
       <br />
        <div class="subtitle">Informasi Pasien</div>
        <table style="width: 100%;">
            <tr>
                <td style="width: 20%;">
                    Nama Ibu
                </td>
                <td style="width: 1%;">
                    :
                </td>
                <td>
                    <%= data.pasien.nama %>
                </td>
            </tr>
            <tr>
                <td style="width: 20%;">
                    Tempat / Tanggal Lahir
                </td>
                <td style="width: 1%;">
                    :
                </td>
                <td>
                    <%= data.pasien.tempat_lahir %> / <%= moment(new Date(data.pasien.tanggal_lahir)).format( "DD MMMM YYYY") %>
                </td>
            </tr>
            <tr>
                <td>
                    Usia
                </td>
                <td>
                    :
                </td>
                <td>
                    <%=usia.years%> Tahun <%=usia.months%> Bulan
                </td>
            </tr>
            <tr>
                <td>
                    Alamat
                </td>
                <td>
                    :
                </td>
                <td>
                    <%= data.pasien.alamat %>
                </td>
            </tr>
            <tr>
                <td>
                    NOMOR JKN
                </td>
                <td>
                    :
                </td>
                <td>
                    <%= data.pasien.no_jkn %>
                </td>
            </tr>
        </table>
        <br />
        <div class="subtitle">Riwayat Pasien</div>
        <table style="width: 100%;font-size:small;">
            <tr>
                <td style="width: 20%;">
                    Berat Badan
                </td>
                <td style="width: 1%;">
                    :
                </td>
                <td>
                    <%= data.berat_badan %>
                </td>
                <td style="width: 20%;">
                    Lila
                </td>
                <td style="width: 1%;">
                    :
                </td>
                <td>
                    <%= data.lila %>
                </td>
            </tr>
           
            <tr>
                <td>
                    HB Masuk
                </td>
                <td>
                    :
                </td>
                <td>
                    <%= data.hb_masuk %>
                </td>
                <td>
                    Kadar Gula Darah
                </td>
                <td>
                    :
                </td>
                <td>
                    <%= data.kgd_masuk %>
                </td>
            </tr>
            <tr>
                <td>
                    Riwayat Rujukan Terdahulu
                </td>
                <td>
                    :
                </td>
                <td colspan="4">
                    <%= data.riwayat_persalinan %>
                </td>
            </tr>
            <tr>
                <td colspan="6" style="text-align: center;">
                  &nbsp;
                </td>
            </tr>
         
        </table>
        <table style="width: 100%;font-size:small;">
        <tr>
            <td colspan="6" style="text-align: center;">
               <strong>Riwayat ANC</strong>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                Bidan
            </td>
            <td colspan="2">
                Dokter
            </td>
            <td colspan="2">
                
               Spesialis
            </td> 
        </tr>
        <tr>
            <td colspan="2">
                <%= data.anc_bidan %>
            </td>
            <td colspan="2">
                <%= data.anc_dokter %>
            </td>
            <td colspan="2">
                <%= data.anc_spesialis %>
            </td>
            
        </tr>
        <tr>
            <td colspan="6" style="text-align: center;">
              &nbsp;
            </td>
        </tr>
     
        </table>
        
        <table style="width: 100%;font-size:small;">
           
            <tr>
                <td colspan="6" style="text-align: center;">
                   <strong>Tanda Tanda Vital</strong>
                </td>
            </tr>

            <tr>
                <td style="width: 20%;">
                    Tekanan Darah
                </td>
                <td style="width: 1%;">
                    :
                </td >
                <td>
                    <%= data.tekanan_darah %>
                </td>
                <td style="width: 20%;">
                    Tekanan Nadi
                </td>
                <td style="width: 1%;">
                    :
                </td>
                <td>
                    <%= data.tekanan_nadi %>
                </td>
            </tr>
            <tr>
                <td style="width: 20%;">
                    Suhu
                </td>
                <td style="width: 1%;">
                    :
                </td>
                <td>
                    <%= data.suhu %>
                </td>
                <td>
                    Frekuensi Napas
                </td>
                <td>
                    :
                </td>
                <td>
                    <%= data.rss %>
                </td>
            </tr>
            <tr>
                <td style="width: 20%;">
                    Saturasi O2
                </td>
                <td style="width: 1%;">
                    :
                </td>
                <td colspan="4">
                    <%= data.kadar_oksigen %>
                </td>
                
            </tr>
            <tr>
                <td colspan="6" style="text-align: center;">
                  &nbsp;
                </td>
            </tr>
         
        </table>
        <table style="width: 100%;font-size:small;">
            <tr>
                <td colspan="6" style="text-align: center;">
                   <strong>GPA</strong>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    Gravida
                </td>
                <td colspan="2">
                    Para/Partus
                </td>
                <td colspan="2">
                   Abortus
                </td> 
            </tr>
            <tr>
                <td colspan="2">
                    <%= data.gravida %>
                </td>
                <td colspan="2">
                    <%= data.para_partus %>
                </td>
                <td colspan="2">
                    <%= data.abortus %>
                </td>
                
            </tr>
        </table>
        <br />
        <div class="subtitle">Keluhan Pada Riwayat ini</div>
        <table style="width: 100%;font-size:small;">
            <tr>
                <td colspan="4">
                    <%= data.kelompok_keluhan.nama %>
                </td>
                
            </tr>
            <% if (data.daftar_keluhan_pasien.length> 0) { %>
                <% data.daftar_keluhan_pasien.forEach(function(data, index){ %>
                    <tr>
                        <td>
                            <%= (index+1) %>
                        </td>
                        <td>
                            <%= data.keluhan.daftar_keluhan.keluhan %>
                        </td>
                        <td>
                            <%= data.input %>
                        </td>
                    </tr>
                <% });%>
            <% }%>
        </table>
        <br />
        <div class="subtitle">Feedback</div>
        <table style="width: 100%;font-size:small;">
            <tr>
                <td colspan="4">
                    <%= data.feedback %>
                </td>      
          </tr>
          <tr>
            <td colspan="4">
               Oleh: <%= data.feedback_admin %>
            </td>      
      </tr>
        </table>
    </div>
</body>

</html>